<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="otpinput" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="title-holder ion-text-left">
    <h2>Change Password</h2>
  </div>
  <div class="the-form">

    <div class="input-item">
      <ion-item lines="none">
        <ion-input [type]="ptype" placeholder="********" [(ngModel)]="password"></ion-input>
        <div class="end-slot password" slot="end">
          <ion-icon name="eye-off-outline" *ngIf="ptype=='text'" (click)="switchType()"></ion-icon>
          <ion-icon name="eye-outline" *ngIf="ptype=='password'" (click)="switchType()"></ion-icon>
        </div>
      </ion-item>
      <p class="alert" *ngIf="checkPass">Secure passwords are at least 8 characters long and include numbers and symbols</p>
      <p class="error" *ngIf="!checkPass">Password should be at leat 8 charachters long and include numbers and symbols</p>
    </div>
  </div>

  <div class="btn-holder ion-text-center">
    <ion-button expand="block" (click)="resetPassword()">
     Change Password
    </ion-button>
  </div>

</ion-content>