ion-toolbar
{
    --background: #F4EDE9;
    position: relative;

    .back
    {
        position: absolute;
        left: 0;
    }

    ion-title
    {
        font-size: 20px;
        font-family: 'PoppinsMedium';
        color: #1e1e1e;
    }

    ion-button
    {
        color: #1e1e1e;
        position:absolute;
        right: 0;
        font-size: 16px;
        font-family: 'PoppinsMedium';
    }
    
}

ion-content
{
    --background: #F4EDE9;

    .title-holder
    {
        margin-top: 20px;

        h1
        {
            color: #1e1e1e;
            font-family: 'PoppinsLight';
            font-size: 14px;
            margin-bottom: 20px;
            padding: 0 10px;
            text-align: center;
        }
    }

    .the-form
    {
        margin-top: 20px;

        .error
        {
            margin: 0;
            font-size: 12px;
            font-family: 'PoppinsLight';
            color: #EE0004;
        }

        h1
        {
            color: #1e1e1e;
            font-family: 'PoppinsMedium';
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0 10px;
        }

        .input-item
        {
            ion-col
            {
                h5
                {
                    font-family: 'PoppinsRegular';
                    font-size: 14px;
                    color: #1e1e1e;
                    margin-bottom: 5px;
                    margin-top: 0;
                }

                p
                {
                    position: relative;

                    img
                    {
                        position: absolute;
                        top: 2px;
                    }

                    span
                    {
                        font-family: 'PoppinsRegular';
                        color: #1e1e1e;
                        font-size: 16px;
                        position: absolute;
                        left: 20px;
                    }
                }

                ion-item
                {
                    margin-bottom: 10px;
                    border: 1px solid #828282;
                    --padding-start: 8px;
                    --inner-padding-end: 5px;
                    &.item-has-focus{
                        border: 1px solid #1e1e1e;
                    }
    
                    ion-input
                    {
                        color: #1e1e1e;
                        --placeholder-color: #828282;
                        --placeholder-opacity: 1;
                        font-family: 'PoppinsRegular';
                        font-size: 16px
                    }

                    ion-select
                    {
                        color: #1e1e1e;
                        --placeholder-color: #828282;
                        --placeholder-opacity: 1;
                        font-family: 'PoppinsRegular';
                        font-size: 16px;
                        width: 100%
                    }
                }
            }
        }
    }

    .bottom
    {
        margin: 30px 0;
        
        ion-button
        {
            width: 100%;
            --background: #1e1e1e;
            --border-radius: 40px;
            height: 50px;
            font-size: 16px;
            font-family: 'PoppinsMedium';
            --background-activated: inherit;
        }
    }
}