<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Price Alerts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="floatanimation top-img-holder ion-text-center">
    <img src="assets/imgs/bcwallet.png" alt="">
  </div>

  <div class="the-list">
    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="btc" slot="start">
        <img src="assets/imgs/btc.svg" alt="">
      </div>
      <ion-label>
        <h2>Bitcoin <span>/BTC</span> </h2>
      </ion-label>

      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="meta" slot="start">
        <img src="assets/imgs/metahash.svg" alt="">
      </div>
      <ion-label>
        <h2>MetaHash <span> / MHC</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="binance" slot="start">
        <img src="assets/imgs/binance.svg" alt="">
      </div>
      <ion-label>
        <h2>Binance Coin<span>/ BNB</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="engin" slot="start">
        <img src="assets/imgs/engin.svg" alt="">
      </div>
      <ion-label>
        <h2>Enjin Coin/ <span>ENJ</span></h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="meta" slot="start">
        <img src="assets/imgs/uquid.svg" alt="">
      </div>
      <ion-label>
        <h2>Uquid Coin <span>/ UQC</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="monero" slot="start">
        <img src="assets/imgs/monero.svg" alt="">
      </div>
      <ion-label>
        <h2>Monero <span>/XMR</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="kusama" slot="start">
        <img src="assets/imgs/kusama.svg" alt="">
      </div>
      <ion-label>
        <h2>Kusama <span>/KSM</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <div class="thumb flex al-center jc-center" id="dash" slot="start">
        <img src="assets/imgs/dash.svg" alt="">
      </div>
      <ion-label>
        <h2>Dash <span>/DASH</span> </h2>
      </ion-label>
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-item>
  </div>
</ion-content>