ion-content
{
    --background: #171826;

    .btn-coin-holder
    {
        img
        {
            height: 20vh;
        }
    }

    .details
    {
        h2
        {
            color: var(--ion-color-light);
            font-family: 'CSBold';
            font-size: 20px;
        }
        p
        {
            color: var(--ion-color-light);
            font-family: 'CSMedium';
            font-size: 12px;

            span
            {
                color: #e1b274;

            }
        }
    }



    .floatanimation1
    {
        animation: float 5s ease-in-out  infinite ;
    }


    @keyframes float
    {
        0%
        {
            transform: translateY(0px);
        }

        50%
        {
            transform: translateY(-20px);
        }

        100%
        {
            transform: translateY(0px);
        }
    }

    .btn-holder
    {
        margin-top: 10vw;
    }
    
}

