ion-toolbar
{
    --background: transparent;
    position: absolute;
    width: 100%;

    ion-button
    {
        color: #1e1e1e;
        position:absolute;
        right: 0
    }
}

ion-content
{
    --background:  #F4EDE9;

    .top-holder
    {
        margin: 50px 0 20px 0;
        position: relative;

        .profile-holder
        {
            ion-avatar
            {
                --border-radius: 50%;
                height: 5.5rem;
                position: relative;
                width: 5.5rem;
            }

            ion-label
            {
                margin-left: 10px;

                h1
                {
                    color: #1e1e1e;
                    font-family: 'PoppinsRegular';
                    font-size: 18px;
                    margin-bottom: 0;
                }
    
                p
                {
                    color:#1e1e1e;
                    font-family: 'PoppinsLight';
                    font-size: 12px;
                    margin: 0;
                }
            }
           
        }
    }


    .the-list
    {
        
        ion-item
        {
            --background: transparent;
            
            ion-label
            {
                color: #1e1e1e;
                font-family: 'PoppinsRegular';
                font-size: 18px;
            }
        }
    }
}


.floatanimation1
{
    animation: float 5s ease-in-out  infinite ;
}

.floatanimation2
{
    animation: float2 3s ease-in-out infinite ;
}

@keyframes float
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-20px);
    }

    100%
    {
        transform: translateY(0px);
    }
}

@keyframes float2
{
    0%
    {
        transform: translateY(-20px);
    }

    50%
    {
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(-20px);
    }
}