<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="back">
      <ion-back-button defaultHref="business" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Set up a business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="title-holder">
    <h1>Where’s your business located?</h1>
  </div>

  <div class="the-form">
    <div class="input-item">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <h5>Street name</h5>
            <div class="input-holder">
              <ion-item lines="none">
                <ion-input type="text" placeholder="123 Main St." [(ngModel)]="street"></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <h5>Suite, Apt</h5>
            <div class="input-holder">
              <ion-item lines="none">
                <ion-input type="text" placeholder="Suite #1" [(ngModel)]="suite"></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <h5>City</h5>
            <div class="input-holder">
              <ion-item lines="none">
                <ion-input type="text" placeholder="New York" [(ngModel)]="city"></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <h5>State</h5>
            <div class="input-holder">
              <ion-item lines="none">
                <ion-input type="text" placeholder="New York" [(ngModel)]="state"></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <h5>Zip code</h5>
            <div class="input-holder">
              <ion-item lines="none">
                <ion-input type="text" placeholder="e.g. 94119" [(ngModel)]="zip"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </div>
    <div class="input-item">
      <h1>Opening hours</h1>
      <ion-grid fixed>
        <ion-row class="ion-align-items-center">
          <p *ngFor="let opening_hour of opening_hours | keyvalue">{{opening_hour.value.day}} {{opening_hour.value.open_time}} - {{opening_hour.value.close_time}} <span (click)="removeOpeningHour(opening_hour.key)">Remove</span></p>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="4">
            <div class="input-holder">
              <ion-item lines="none">
                <ion-select interface="popover" placeholder="Day" [(ngModel)]="day">
                  <ion-select-option value="Monday">Monday</ion-select-option>
                  <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                  <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                  <ion-select-option value="Thursday">Thursday</ion-select-option>
                  <ion-select-option value="Friday">Friday</ion-select-option>
                  <ion-select-option value="Saturday">Saturday</ion-select-option>
                  <ion-select-option value="Sunday">Sunday</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="input-holder">
              <ion-item lines="none">
                <ion-select interface="popover" placeholder="Open" [(ngModel)]="open">
                  <ion-select-option value="12:00 AM">12:00 AM</ion-select-option>
                  <ion-select-option value="12:15 AM">12:15 AM</ion-select-option>
                  <ion-select-option value="12:30 AM">12:30 AM</ion-select-option>
                  <ion-select-option value="12:45 AM">12:45 AM</ion-select-option>
                  <ion-select-option value="01:00 AM">01:00 AM</ion-select-option>
                  <ion-select-option value="01:15 AM">01:15 AM</ion-select-option>
                  <ion-select-option value="01:30 AM">01:30 AM</ion-select-option>
                  <ion-select-option value="01:45 AM">01:45 AM</ion-select-option>
                  <ion-select-option value="02:00 AM">02:00 AM</ion-select-option>
                  <ion-select-option value="02:15 AM">02:15 AM</ion-select-option>
                  <ion-select-option value="02:30 AM">02:30 AM</ion-select-option>
                  <ion-select-option value="02:45 AM">02:45 AM</ion-select-option>
                  <ion-select-option value="03:00 AM">03:00 AM</ion-select-option>
                  <ion-select-option value="03:15 AM">03:15 AM</ion-select-option>
                  <ion-select-option value="03:30 AM">03:30 AM</ion-select-option>
                  <ion-select-option value="03:45 AM">03:45 AM</ion-select-option>
                  <ion-select-option value="04:00 AM">04:00 AM</ion-select-option>
                  <ion-select-option value="04:15 AM">04:15 AM</ion-select-option>
                  <ion-select-option value="04:30 AM">04:30 AM</ion-select-option>
                  <ion-select-option value="04:45 AM">04:45 AM</ion-select-option>
                  <ion-select-option value="05:00 AM">05:00 AM</ion-select-option>
                  <ion-select-option value="05:15 AM">05:15 AM</ion-select-option>
                  <ion-select-option value="05:30 AM">05:30 AM</ion-select-option>
                  <ion-select-option value="05:45 AM">05:45 AM</ion-select-option>
                  <ion-select-option value="06:00 AM">06:00 AM</ion-select-option>
                  <ion-select-option value="06:15 AM">06:15 AM</ion-select-option>
                  <ion-select-option value="06:30 AM">06:30 AM</ion-select-option>
                  <ion-select-option value="06:45 AM">06:45 AM</ion-select-option>
                  <ion-select-option value="07:00 AM">07:00 AM</ion-select-option>
                  <ion-select-option value="07:15 AM">07:15 AM</ion-select-option>
                  <ion-select-option value="07:30 AM">07:30 AM</ion-select-option>
                  <ion-select-option value="07:45 AM">07:45 AM</ion-select-option>
                  <ion-select-option value="08:00 AM">08:00 AM</ion-select-option>
                  <ion-select-option value="08:15 AM">08:15 AM</ion-select-option>
                  <ion-select-option value="08:30 AM">08:30 AM</ion-select-option>
                  <ion-select-option value="08:45 AM">08:45 AM</ion-select-option>
                  <ion-select-option value="09:00 AM">09:00 AM</ion-select-option>
                  <ion-select-option value="09:15 AM">09:15 AM</ion-select-option>
                  <ion-select-option value="09:30 AM">09:30 AM</ion-select-option>
                  <ion-select-option value="09:45 AM">09:45 AM</ion-select-option>
                  <ion-select-option value="10:00 AM">10:00 AM</ion-select-option>
                  <ion-select-option value="10:15 AM">10:15 AM</ion-select-option>
                  <ion-select-option value="10:30 AM">10:30 AM</ion-select-option>
                  <ion-select-option value="10:45 AM">10:45 AM</ion-select-option>
                  <ion-select-option value="11:00 AM">11:00 AM</ion-select-option>
                  <ion-select-option value="11:15 AM">11:15 AM</ion-select-option>
                  <ion-select-option value="11:30 AM">11:30 AM</ion-select-option>
                  <ion-select-option value="11:45 AM">11:45 AM</ion-select-option>
                  <ion-select-option value="12:00 AM">12:00 AM</ion-select-option>
                  <ion-select-option value="12:15 AM">12:15 AM</ion-select-option>
                  <ion-select-option value="12:30 AM">12:30 AM</ion-select-option>
                  <ion-select-option value="12:45 AM">12:45 AM</ion-select-option>
                  <ion-select-option value="01:00 PM">01:00 PM</ion-select-option>
                  <ion-select-option value="01:15 PM">01:15 PM</ion-select-option>
                  <ion-select-option value="01:30 PM">01:30 PM</ion-select-option>
                  <ion-select-option value="01:45 PM">01:45 PM</ion-select-option>
                  <ion-select-option value="02:00 PM">02:00 PM</ion-select-option>
                  <ion-select-option value="02:15 PM">02:15 PM</ion-select-option>
                  <ion-select-option value="02:30 PM">02:30 PM</ion-select-option>
                  <ion-select-option value="02:45 PM">02:45 PM</ion-select-option>
                  <ion-select-option value="03:00 PM">03:00 PM</ion-select-option>
                  <ion-select-option value="03:15 PM">03:15 PM</ion-select-option>
                  <ion-select-option value="03:30 PM">03:30 PM</ion-select-option>
                  <ion-select-option value="03:45 PM">03:45 PM</ion-select-option>
                  <ion-select-option value="04:00 PM">04:00 PM</ion-select-option>
                  <ion-select-option value="04:15 PM">04:15 PM</ion-select-option>
                  <ion-select-option value="04:30 PM">04:30 PM</ion-select-option>
                  <ion-select-option value="04:45 PM">04:45 PM</ion-select-option>
                  <ion-select-option value="05:00 PM">05:00 PM</ion-select-option>
                  <ion-select-option value="05:15 PM">05:15 PM</ion-select-option>
                  <ion-select-option value="05:30 PM">05:30 PM</ion-select-option>
                  <ion-select-option value="05:45 PM">05:45 PM</ion-select-option>
                  <ion-select-option value="06:00 PM">06:00 PM</ion-select-option>
                  <ion-select-option value="06:15 PM">06:15 PM</ion-select-option>
                  <ion-select-option value="06:30 PM">06:30 PM</ion-select-option>
                  <ion-select-option value="06:45 PM">06:45 PM</ion-select-option>
                  <ion-select-option value="07:00 PM">07:00 PM</ion-select-option>
                  <ion-select-option value="07:15 PM">07:15 PM</ion-select-option>
                  <ion-select-option value="07:30 PM">07:30 PM</ion-select-option>
                  <ion-select-option value="07:45 PM">07:45 PM</ion-select-option>
                  <ion-select-option value="08:00 PM">08:00 PM</ion-select-option>
                  <ion-select-option value="08:15 PM">08:15 PM</ion-select-option>
                  <ion-select-option value="08:30 PM">08:30 PM</ion-select-option>
                  <ion-select-option value="08:45 PM">08:45 PM</ion-select-option>
                  <ion-select-option value="09:00 PM">09:00 PM</ion-select-option>
                  <ion-select-option value="09:15 PM">09:15 PM</ion-select-option>
                  <ion-select-option value="09:30 PM">09:30 PM</ion-select-option>
                  <ion-select-option value="09:45 PM">09:45 PM</ion-select-option>
                  <ion-select-option value="10:00 PM">10:00 PM</ion-select-option>
                  <ion-select-option value="10:15 PM">10:15 PM</ion-select-option>
                  <ion-select-option value="10:30 PM">10:30 PM</ion-select-option>
                  <ion-select-option value="10:45 PM">10:45 PM</ion-select-option>
                  <ion-select-option value="11:00 PM">11:00 PM</ion-select-option>
                  <ion-select-option value="11:15 PM">11:15 PM</ion-select-option>
                  <ion-select-option value="11:30 PM">11:30 PM</ion-select-option>
                  <ion-select-option value="11:45 PM">11:45 PM</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="input-holder">
              <ion-item lines="none">
                <ion-select interface="popover" placeholder="Close" [(ngModel)]="close">
                  <ion-select-option value="12:00 AM">12:00 AM</ion-select-option>
                  <ion-select-option value="12:15 AM">12:15 AM</ion-select-option>
                  <ion-select-option value="12:30 AM">12:30 AM</ion-select-option>
                  <ion-select-option value="12:45 AM">12:45 AM</ion-select-option>
                  <ion-select-option value="01:00 AM">01:00 AM</ion-select-option>
                  <ion-select-option value="01:15 AM">01:15 AM</ion-select-option>
                  <ion-select-option value="01:30 AM">01:30 AM</ion-select-option>
                  <ion-select-option value="01:45 AM">01:45 AM</ion-select-option>
                  <ion-select-option value="02:00 AM">02:00 AM</ion-select-option>
                  <ion-select-option value="02:15 AM">02:15 AM</ion-select-option>
                  <ion-select-option value="02:30 AM">02:30 AM</ion-select-option>
                  <ion-select-option value="02:45 AM">02:45 AM</ion-select-option>
                  <ion-select-option value="03:00 AM">03:00 AM</ion-select-option>
                  <ion-select-option value="03:15 AM">03:15 AM</ion-select-option>
                  <ion-select-option value="03:30 AM">03:30 AM</ion-select-option>
                  <ion-select-option value="03:45 AM">03:45 AM</ion-select-option>
                  <ion-select-option value="04:00 AM">04:00 AM</ion-select-option>
                  <ion-select-option value="04:15 AM">04:15 AM</ion-select-option>
                  <ion-select-option value="04:30 AM">04:30 AM</ion-select-option>
                  <ion-select-option value="04:45 AM">04:45 AM</ion-select-option>
                  <ion-select-option value="05:00 AM">05:00 AM</ion-select-option>
                  <ion-select-option value="05:15 AM">05:15 AM</ion-select-option>
                  <ion-select-option value="05:30 AM">05:30 AM</ion-select-option>
                  <ion-select-option value="05:45 AM">05:45 AM</ion-select-option>
                  <ion-select-option value="06:00 AM">06:00 AM</ion-select-option>
                  <ion-select-option value="06:15 AM">06:15 AM</ion-select-option>
                  <ion-select-option value="06:30 AM">06:30 AM</ion-select-option>
                  <ion-select-option value="06:45 AM">06:45 AM</ion-select-option>
                  <ion-select-option value="07:00 AM">07:00 AM</ion-select-option>
                  <ion-select-option value="07:15 AM">07:15 AM</ion-select-option>
                  <ion-select-option value="07:30 AM">07:30 AM</ion-select-option>
                  <ion-select-option value="07:45 AM">07:45 AM</ion-select-option>
                  <ion-select-option value="08:00 AM">08:00 AM</ion-select-option>
                  <ion-select-option value="08:15 AM">08:15 AM</ion-select-option>
                  <ion-select-option value="08:30 AM">08:30 AM</ion-select-option>
                  <ion-select-option value="08:45 AM">08:45 AM</ion-select-option>
                  <ion-select-option value="09:00 AM">09:00 AM</ion-select-option>
                  <ion-select-option value="09:15 AM">09:15 AM</ion-select-option>
                  <ion-select-option value="09:30 AM">09:30 AM</ion-select-option>
                  <ion-select-option value="09:45 AM">09:45 AM</ion-select-option>
                  <ion-select-option value="10:00 AM">10:00 AM</ion-select-option>
                  <ion-select-option value="10:15 AM">10:15 AM</ion-select-option>
                  <ion-select-option value="10:30 AM">10:30 AM</ion-select-option>
                  <ion-select-option value="10:45 AM">10:45 AM</ion-select-option>
                  <ion-select-option value="11:00 AM">11:00 AM</ion-select-option>
                  <ion-select-option value="11:15 AM">11:15 AM</ion-select-option>
                  <ion-select-option value="11:30 AM">11:30 AM</ion-select-option>
                  <ion-select-option value="11:45 AM">11:45 AM</ion-select-option>
                  <ion-select-option value="12:00 AM">12:00 AM</ion-select-option>
                  <ion-select-option value="12:15 AM">12:15 AM</ion-select-option>
                  <ion-select-option value="12:30 AM">12:30 AM</ion-select-option>
                  <ion-select-option value="12:45 AM">12:45 AM</ion-select-option>
                  <ion-select-option value="01:00 PM">01:00 PM</ion-select-option>
                  <ion-select-option value="01:15 PM">01:15 PM</ion-select-option>
                  <ion-select-option value="01:30 PM">01:30 PM</ion-select-option>
                  <ion-select-option value="01:45 PM">01:45 PM</ion-select-option>
                  <ion-select-option value="02:00 PM">02:00 PM</ion-select-option>
                  <ion-select-option value="02:15 PM">02:15 PM</ion-select-option>
                  <ion-select-option value="02:30 PM">02:30 PM</ion-select-option>
                  <ion-select-option value="02:45 PM">02:45 PM</ion-select-option>
                  <ion-select-option value="03:00 PM">03:00 PM</ion-select-option>
                  <ion-select-option value="03:15 PM">03:15 PM</ion-select-option>
                  <ion-select-option value="03:30 PM">03:30 PM</ion-select-option>
                  <ion-select-option value="03:45 PM">03:45 PM</ion-select-option>
                  <ion-select-option value="04:00 PM">04:00 PM</ion-select-option>
                  <ion-select-option value="04:15 PM">04:15 PM</ion-select-option>
                  <ion-select-option value="04:30 PM">04:30 PM</ion-select-option>
                  <ion-select-option value="04:45 PM">04:45 PM</ion-select-option>
                  <ion-select-option value="05:00 PM">05:00 PM</ion-select-option>
                  <ion-select-option value="05:15 PM">05:15 PM</ion-select-option>
                  <ion-select-option value="05:30 PM">05:30 PM</ion-select-option>
                  <ion-select-option value="05:45 PM">05:45 PM</ion-select-option>
                  <ion-select-option value="06:00 PM">06:00 PM</ion-select-option>
                  <ion-select-option value="06:15 PM">06:15 PM</ion-select-option>
                  <ion-select-option value="06:30 PM">06:30 PM</ion-select-option>
                  <ion-select-option value="06:45 PM">06:45 PM</ion-select-option>
                  <ion-select-option value="07:00 PM">07:00 PM</ion-select-option>
                  <ion-select-option value="07:15 PM">07:15 PM</ion-select-option>
                  <ion-select-option value="07:30 PM">07:30 PM</ion-select-option>
                  <ion-select-option value="07:45 PM">07:45 PM</ion-select-option>
                  <ion-select-option value="08:00 PM">08:00 PM</ion-select-option>
                  <ion-select-option value="08:15 PM">08:15 PM</ion-select-option>
                  <ion-select-option value="08:30 PM">08:30 PM</ion-select-option>
                  <ion-select-option value="08:45 PM">08:45 PM</ion-select-option>
                  <ion-select-option value="09:00 PM">09:00 PM</ion-select-option>
                  <ion-select-option value="09:15 PM">09:15 PM</ion-select-option>
                  <ion-select-option value="09:30 PM">09:30 PM</ion-select-option>
                  <ion-select-option value="09:45 PM">09:45 PM</ion-select-option>
                  <ion-select-option value="10:00 PM">10:00 PM</ion-select-option>
                  <ion-select-option value="10:15 PM">10:15 PM</ion-select-option>
                  <ion-select-option value="10:30 PM">10:30 PM</ion-select-option>
                  <ion-select-option value="10:45 PM">10:45 PM</ion-select-option>
                  <ion-select-option value="11:00 PM">11:00 PM</ion-select-option>
                  <ion-select-option value="11:15 PM">11:15 PM</ion-select-option>
                  <ion-select-option value="11:30 PM">11:30 PM</ion-select-option>
                  <ion-select-option value="11:45 PM">11:45 PM</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <p (click)="addOpeningHours()"><img src="assets/imgs/add.png"> <span>Add opening hours</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </div>
  </div>

  <div class="bottom">
    <ion-button (click)="saveProfile()">Continue</ion-button>
  </div>

</ion-content>